* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #0174BE;
}

#page-layout {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 100vh;
}

nav {
    background-color: #0C356A;
    border-radius: 10px;
    margin: 1rem .5rem 1rem 1rem;
}

main {
    display: grid;
    grid-template-rows: 15% 85%;
}

.section-one {
    background-color: #0C356A;
    border-radius: 10px;
    margin: 1rem 1rem .5rem .5rem;
}

.section-two {
    border-radius: 10px;
    background-color: #0C356A;
    margin: .5rem 1rem 1rem .5rem;
}