* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}

.debt-title {
    color: rgba(245, 245, 245, 0.806);
    padding: 1rem;
    text-align: center;
    min-height: 300px;
}