* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}

:root {
  --font-primary: rgba(245, 245, 245, 0.806);
}

/* PAGE LAYOUT */

body {
    background-color: #474e5a;
}

.layout-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 300px;
}

.header {
    background-color: #15191f;
    border-radius: 10px;
    order: -1;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.dashboard {
    background-color: #15191f;
    border-radius: 10px;
    padding: 1rem;
}

.content {
    background-color: #15191f;
    border-radius: 10px;
}

.hamburger {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img:hover {
    cursor: pointer;
}

.logo img {
    width: 33px;
}

.logged-in {
    display: flex;
    align-items: center;
    color: whitesmoke;
    color: rgba(245, 245, 245, 0.806);
}

.user-icon {
    display: flex;
    align-items: center;
}

.user-icon:hover, .logout {
    cursor: pointer;
}

.welcome {
    padding-left: .5rem;
}

.logout {
    padding: .5rem;
    border-radius: 25px;
    background-color: rgba(211, 211, 211, 0.105);
    margin-left: 1rem;
}

.dash-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dash-dropdown:hover {
    cursor: pointer;
}

.dash-dropdown h2 {
    color: rgba(245, 245, 245, 0.806);
    font-size: 1.30rem;
}

.dash-arrow-wrapper {
    display: flex;
    align-items: center;
}

.dash-right-arrow {
    width: 25px;
}

.dash-right-arrow.open {
    transform: rotate(90deg);
}

.dash-options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.dash-options li {
    color: rgba(245, 245, 245, 0.806);
    border-radius: 25px;
    padding: .75rem;
    background-color:#31353a73;
    text-align: center;
}

.dash-options li:hover {
    cursor: pointer;
    /* background-color: #474e5a; */
    color: whitesmoke;
}

.expenses-menu-item.selected, .income-menu-item.selected, .debt-menu-item.selected {
    /* background-color: #474e5a; */
    border: solid 1px aquamarine;
}




/* EXPENSE CONTENT */

.expense-content-container {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    color: var(--font-primary);
}

.expense-table-container {
    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: none;
    border-radius: 5px;
}

.expense-table-headers {
    display: flex;
    border-top: solid gray 1px;
    border-left: solid gray 1px;
    border-right: solid gray 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.expense-table-headers li {
    flex: 1;
    padding: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expense-table-headers li:nth-child(2) {
    border-left: solid gray 1px;
    border-right: solid gray 1px;
    
}

.expense-row-container {
    display: flex;
    border-top: 1px black solid;
}

.expense-row-container .expense-row-inputs:nth-child(2) {
    border-left: black solid 1px;
    border-right: black solid 1px;
}

.expense-row-inputs {
    flex: 1;
    display: flex;
    background-color: lightgray;
    padding: .25rem;
}

.expense-row-inputs:last-child {
    background-color: lightgray;
}

.expense-row-inputs input {
    width: 100%;
    background-color: lightgray;
    border: none;
}

/* .delete-row {
    font-size: x-small;
    position: absolute;
    right: 5px;
} */

.delete-row {
  position: absolute;
  right: .5rem;
  font-size: xx-small;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in, visibility 0s linear 0.2s;
}

.expense-row-container:hover 
  .expense-row-inputs:last-of-type 
  .delete-row {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s; 
  cursor: pointer;
}

.expense-row-container:last-of-type > .expense-row-inputs:first-child {
    border-bottom-left-radius: 5px;
}

.expense-row-container:last-of-type > .expense-row-inputs:last-child {
    border-bottom-right-radius: 5px;
}

.expense-row-inputs input[type=text]:focus, .expense-row-inputs input[type=number]:focus {
    outline: none;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.checkbox-container input {
    width: 15px;
}

.add-row {
    align-self: flex-start;
    font-size: x-large;
    color: lightgray;
    margin-top: -1rem;
    padding: .25rem;
}

.add-row:hover {
    cursor: pointer;
    color: white;
}

.monthly-total-container, .monthly-remaining-container {
    display: flex;
    flex-direction: column;
    border: 1px gray solid;
    align-items: center;
    border-radius: 5px;
}

.monthly-total-label, .monthly-remaining-label {
    padding: .25rem;
}

.monthly-total-amount, .monthly-remaining-amount {
    width: 100%;
    background-color: lightgray;
    text-align: center;
    color: black;
    padding: .25rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}



