* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}

/* GRID LAYOUT */
body {
    background-color: #474e5a;
}

.layout-container {
    display: grid;
    grid-template-columns: minmax(300px, 15%) minmax(600px, auto);
    grid-template-rows: minmax(90px, 10%) auto;
    height: 100vh;
}

.dashboard {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #15191f;
    border-radius: 10px;
    margin: 1rem .5rem 1rem 1rem;
}

.header {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: #15191f;
    border-radius: 10px;
    margin: 1rem 1rem .5rem .5rem;
    display: flex;
    justify-content: center;
}

.content {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    border-radius: 10px;
    background-color: #15191f;
    margin: .5rem 1rem 1rem .5rem;
}

/* CONTENT SECTION */
.expense-content-container {
    color: whitesmoke;
    width: 100%;
}

.expense-table-container {
    width: 50%;
    margin: 1rem;
}

.expense-table-headers {
    display: flex;
    justify-content: space-around;
}

.expense-table-headers li {
    flex: 1;
    border: 1px solid gray;
    border-bottom: none;
    padding: .25rem;
    text-align: center;
}

.expense-table-headers > :first-child {
    border-top-left-radius: 5px;
    border-right: none;
}

.expense-table-headers > :nth-child(2) {
    border-right: none;
}

.expense-table-headers > :last-child {
    border-top-right-radius: 5px;
}

.expense-row-container {
    display: flex;
}

.expense-row-container > :last-child {
    background-color: lightgray;
    border-right: gray;
}

.expense-row-inputs {
    display: flex;
    flex: 1;
    border: 1px black solid;
    border-bottom: none;
    align-items: center;
    justify-content: center;
}


.expense-row-container input[type=text], .expense-row-container input[type=number] {
    background-color: lightgrey;
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    padding: .25rem;
    outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.expense-row-container > :first-child {
    border-left: none;
    border-right: none;
}

.expense-row-container > :nth-child(2) {
    border-left: 1px solid black
}

.expense-row-container > :last-child{
    border-left: none;
}

.expense-rows-container > :last-child > :first-child input[type=text] {
    border-bottom-left-radius: 5px;
}

.expense-rows-container > :last-child > :last-child {
    border-bottom-right-radius: 5px;
}








