* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}

.signup-container {
    display: grid;
    grid-template-rows: 10% 90%;
    height: 100vh;
}

.signup-header {
    color: rgba(245, 245, 245, 0.91);
    background-color: #15191f;
    margin: .5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}


.signup-content {
    background-color: #15191f;
    margin: 0 .5rem .5rem .5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form {
    margin: 2rem;
    color: rgba(245, 245, 245, 0.952);
    width: 90%;
    max-width: 450px;
}

.signup-form label {
    font-size: medium;
    font-weight: 100;
}

.signup-form div {
    margin-top: .25rem;
    margin-bottom: 1.25rem;
}

.signup-form input {
    width: 100%;
    background-color: rgba(211, 211, 211, 0.879);
    border: none;
    border-radius: 8px;
    height: 2.25rem;
    font-size: large;
    padding-left: .5rem;
    border: solid 1px lightgray;
}

.signup-button-container {
    display: flex;
    justify-content: space-between;
}

.signup-button {
    margin-top: 1rem;
    font-size: large;
    font-weight: 600;
    width: 100%;
    border-radius: 10px;
    padding: .65rem 4rem .65rem 4rem;
    background: linear-gradient(135deg, #16a050df, #79e835);
    border: none;
    color: rgba(0, 0, 0, 0.718);
}

.signup-button:hover {
    cursor: pointer;
}

.signup-content p {
    color: rgba(245, 245, 245, 0.85);
    font-size: large;
    max-width: 90%;
}

a {
    color: rgba(144, 238, 144, 0.892);
    text-decoration: none;
}





/* BREAKPOINTS */

/* Tablet */
@media (min-width: 720px) {

    .signup-header {
        margin: 1rem;
    }

    .signup-content {
        margin: 0 1rem 1rem 1rem;
    }
}


