* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}

.signup-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    min-height: 100vh;
    min-width: 300px;
}


.signup-header {
    color: rgba(245, 245, 245, 0.91);
    background-color: #15191f;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .75rem;
}

.signup-content {
    background-color: #15191f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 1rem;
    gap: 1rem;
}

.demo-option {
    font-size: large;
    font-weight: 600;
    border-radius: 10px;
    padding: .5rem;
    background: linear-gradient(135deg, #16a050df, #79e835);
    border: none;
    color: rgba(0, 0, 0, 0.718);
    width: 100%;
    max-width: 400px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.demo-option:hover {
    cursor: pointer;
}

.signup-form {
    color: rgba(245, 245, 245, 0.952);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
}

.sign-header {
    text-align: center;
    color: rgba(214, 214, 214, 0.952);
    border-top: solid gray 1px;
    padding-top: 1rem;
}

.email-wrapper, .password-wrapper, .form-input-wrapper {
    display: flex;
    flex-direction: column;
}

.signup-form label {
    color: rgba(245, 245, 245, 0.85);
    margin-bottom: 5px;
}

.signup-form input {
    background-color: rgba(211, 211, 211, 0.879);
    border: none;
    outline: none;
    border-radius: 8px;
    padding: .5rem;
    font-size: large;
}

.signup-button {
    margin-top: 1rem;
    font-size: large;
    font-weight: 600;
    border-radius: 10px;
    padding: .5rem;
    background: linear-gradient(135deg, #16a050df, #79e835);
    border: none;
    color: rgba(0, 0, 0, 0.718);
}

.signup-button:hover {
    cursor: pointer;
}

.signup-content p {
    color: rgba(245, 245, 245, 0.85);
    font-size: medium;
    display: flex;
    justify-content: center;
}

a {
    color: rgba(144, 238, 144, 0.892);
    text-decoration: none;
    margin-left: 5px;
}




